---
pagination:
    data: projects
    size: 1
    alias: project
    filter:
        - all
        - post
        - posts
        - tagList
description: Les projets que nous avons fièrement réalisés.
layout: layout.html
pageWeight: 130
eleventyComputed:
    description: Le projet que nous avons développé pour {{ project.client_name }}
    title: {{ project.title }}
permalink: /projet/{{ project.title | slugify }}/
---
<div class="project section">
    <div class="columns">
        <div class="column is-6">
            <h1 class="is-family-code">{{ project.title }}</h1>
            {% for tag in project.categories %}
                {% comment %}{{ categories | json }} | {{ tag }}{% endcomment %}
                {% render "category.html" category:categories[tag] %}
            {% endfor %}
            <hr>
            {% render "tags.html" tags:project.tags %}
        </div>
        <div class="column is-6">
            <div class="image-holder">
                {{project.project_thumbnail}}
            </div>
        </div>
    </div>
    {% render "project-page/nutshell.html", project:project %}
    {% render "project-page/about.html", project:project %}
    {% render "project-page/description.html", project:project %}
    {% render "project-page/discover.html", project:project %}
    {% render "project-page/testimony.html", project:project %}
</div>
