---
pagination:
    data: projects
    size: 1
    alias: project
    filter:
        - all
        - post
        - posts
        - tagList
description: Les projets que nous avons fièrement réalisés.
layout: layout.html
pageWeight: 130
eleventyComputed:
    description: Le projet que nous avons développé pour {{ project.client_name }}
    title: {{ project.title }}
permalink: /projet/{{ project.title | slugify }}/
---
<div class="container project section">
    <div class="columns">
        <div class="column">
            <h1 class="is-family-code">{{ project.title }}</h1>
            {% for tag in project.categories %}
                {% comment %}{{ categories | json }} | {{ tag }}{% endcomment %}
                {% render "category.html" category:categories[tag] %}
            {% endfor %}
            <hr>
            {% render "tags.html" tags:project.tags %}
        </div>
        <div class="column">
            <div class="image-holder">
                {% if project.image %}
                    {% image "img/projet/ifn.png", "mon image", "width: 100%" %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="has-text-centered">
        <p class="has-text-centered mt-6" style="max-width: 700px; margin: auto">{{ top }}</p>
    </div>
    {% render "project-page/nutshell.html" project:project %}
</div>
