---
pagination:
    data: projects
    size: 1
    alias: project
    filter:
        - all
        - post
        - posts
        - tagList
description: Les projets que nous avons fièrement réalisés.
layout: layout.html
pageWeight: 130
eleventyComputed:
    description: Le projet que nous avons développé pour {{ project.clientName }}
    title: "{{ project.title }}"
permalink: /projet/{{ project.title | slugify }}/
---
<div class="project layout">
    <div class="columns is-multiline">
        <div class="column flex is-flex-direction-column is-6-desktop is-12 gap-2">
            <h1 class="is-family-code">{{ project.title }}</h1>
            <div class="category-holder-wrapper">
                {% for tag in project.categories %}
                    {% render "category.html", category:categories[tag] %}
                {% endfor %}
            </div>
{% comment %}            <div class="is-divider"></div>
            {% render "tags.html", tags:project.tags %}{% endcomment %}
        </div>
        {% if project.projectThumbnail %}
        <div class="is-flex-desktop column is-6-desktop is-12">
            <img alt="{{project.projectThumbnailAlt}}" src="{{ project.projectThumbnail }}" alt="" style="border-radius: 50px;">
        </div>
        {% endif %}
    </div>
    {% render "project-page/nutshell.html", project:project %}
    {% if project.description %}
        {% render "project-page/description.html", project:project %}
    {% endif %}
    {% if project.projectGit or project.projectLink %}
        {% render "project-page/discover.html", project:project %}
    {% endif %}
    {% if project.testimony and project.testimony != "" %}
        {% render "project-page/testimony.html", project:project %}
    {% endif %}
</div>
